{% extends 'base.html.twig' %}

{% block title %}La team | Lintrigue
{% endblock %}

{% block body %}
	<div class=" teams">
		<h1 class="text-center">La Team</h1>
		<div class="text-center col-md-12   col-12 team_img ">
			<img src="images/trio.jpg" alt="" class="img-fluid  " />
			<img src="images\group.jpg" alt=""  class="img-fluid  " />
					
		</div>
		{% for item in teams %}
        <div class="row mt-5  p-2 carde ">
			<div class="col-md-4 col-12 d-flex justify-content-center align-items-center">
                <img src="{{ vich_uploader_asset(item, 'imageFile') }} " class="reveal-1 mb-3" width="50%"/>
			</div>
			<div class="col-md-8 col-12">
				<p class="nom appear-1">
					<strong>{{ item.nom}}</strong>
					{{item.prenom}}
					<span style="font-size:12px;">{{ item.age }} ans</span>

				</p>
				<p class="appear-2">{{ item.description | nl2br}}</p>
				<p class="citation reveal-2 mb-3"><i class="fas fa-quote-left "></i>&nbsp;{{ item.formation }}&nbsp;<i class="fas fa-quote-right"></i></p>
			</div>
        </div>
		{% endfor %}
	</div>
{% endblock %}
