{% extends 'base.html.twig' %}

{% block title %}L'Intrigue
{% endblock %}

{% block body %}

	<div class="row">
	
		<div class="presentation  col-md-12 col-sm-12 col-12 ">
			<div class="">
				<h1 class="text-center">Présentation de notre Food-court</h1>
				<div class="icon ">
					<i class="fas fa-landmark fa-3x"></i>	
				</div>
				<h2 class="text-center">Histoire</h2>
				<div class="row">
					
					
					<p class="col-md-6 one text-center d-flex justify-content-center align-items-center">Un beau jour est né un jeune homme au caractère innovant et loufoque, qui pendant sa jeunesse, à découvert les valeurs de la cuisine traditionnelle.<br/>
						En accord avec ses convictions il eu l'idée d'inventer un nouveau concept  le food pairing.<br/></p>
						
					<div class="col-md-6">
						<img src="images/brownie.jpg" class="img-fluid" />
						<span class="text-center col-md-6">Brownie au chocolat et chantilly d’avocat </span>

					</div>	
					<p class="col-md-12 mt-3 mt-5 text-center mb-5">Sa définition : un mélange de textures et de saveur qui fond délicatement en bouche.</br>
						Après de nombreuses réflexions, tel que la cuisine moléculaire, la réinterprétation des recettes Disney, la cuisine spatiale,....<br/>
						Monsieur Barbouat apparait comme un précurseur fier comme si il revenait de sa première mission dans l'espace,<br/> changé et altéré avec l'idée nouvelle
						d'un restaurant ambulant basé sur du food paring.<br/><br/>
						L'idée pour le groupe eut un caractère explosif et intrigant, à la fois précieux et onéreux mais intéressant.
					C'est l'histoire de Chloé, Jessica, Joanne, Lily et Damien et ils vous la racontent aujourd'hui.</p>
				</div>
				
			</div>
		</div>
		 <div class="col-md-12 col-sm-12 col-12 to_right row mb-5">
			<div class="horaire col-md-6 col-12 d-flex justify-content-center align-items-center flex-column ">
				<h2>Nos horaires</h2>
				<p class="text-center">Notre établissement sera ouvert du 
				lundi au dimanche, <br/>le midi de 11h30 à 14h00 <br/>le soir de 18h30 à 22h30.<br/></p>
			</div>
			<div class="join-us col-md-6 col-12 d-flex justify-content-center align-items-center flex-column">
				<h2>Nous joindre</h2>
				<p class="text-center">Tél. : xx/xx/xx/xx/xx<br/>
				compte instagram : _L'INTRIGUE_<br/>
				mail : l'intrigue@gmail.com</p>
			</div>
			<div class="command-us col-md-12 col-12 d-flex justify-content-center align-items-center flex-column">
				<h2>Passer commande</h2>
				<p class="text-center">Prenez de l'avance commander vos menus!</p>
				<button class="command text-center ">Commander</button>
			</div>
		</div> 
		<div class="container_show">
				<div class="image">
					<a href="images\tableau.jpg">
						<img src="images\tableau.jpg" alt="" width="98%" class="img-fluid"/>
					</a>
					<a href="images\IMG-20220119-WA0009.jpg" >
						<img src="images\IMG-20220119-WA0009.jpg" alt="" width="98%" class="img-fluid"/>
					</a>
					
					<a href="images\IMG-20220119-WA0011.jpg" >
						<img src="images\IMG-20220119-WA0011.jpg" alt="" width="98%" class="img-fluid"/>
					</a>
					<a href="images\bocal.jpg" >
						<img src="images\bocal.jpg" alt="" width="98%" class="img-fluid"/>
					</a>
					
				</div>
			</div>		
	</div><!-- fin de row && presentation-->
			

		<div class="row">
			<div class="col-md-6 pairring">
				<img src="images/daurade.jpg" alt="" class="img-fluid"/>
				<span class="text-center">Ceviche de daurade avec ses groseilles et ses agrumes</span>
				
			</div>
			<div class="second col-md-6">
				<div class="icon">
					<i class="fas fa-heart fa-3x"></i>
				</div>
				<div class="second_text">
					<h2>Nos valeurs</h2>
					<ul>
						<li class="appear-1">mis en avant des produits utilisés(produits locaux, produits frais et de saison)</li>
						<li class="appear-2">mis en avant de nos fournisseurs</li>
						<li class="appear-3">tous les mercredis nous prenons le temps de faire un petit déjeuner ensemble et nous discutons du début de la semaine et de ce que nous allons faire la semaine prochaine.</li>
						<li class="appear-4">Réunions dés qu'il y a un problème au sein de l'équipe.</li>
					</ul>
					
				</div>
			</div>
			<div class="col-md-12 row col-12 turn">
				<div class="icon">
					<i class="fas fa-project-diagram fa-3x"></i>
				</div>
				<h2 class="text-center">Notre projet</h2>
				<p class="col-md-12 col-12"><span>Le Food Pairring</span> se définit comme étant l'art d'associer parfaitement deux aliments à priori incompatibles, mais affichant des composantes moléculaires et odorantes similaires.
				Un food truck est une aire de restauration, un espace polyvalent qui propose une offre de restauration variée et des animations culturelles :
				concerts, expositions, conférences ou atelier.
				Nous souhaitons proposer uniquement des produits de saison et locaux grâce à nos fournisseurs, notamment Boncolac, le marché Victor Hugo et le marché des carmes, pour le poisson la viande les fruits et les légumes.</br>
				Dans le cadre de notre formation en BTS MHR, une matière nous a été présentée : <span>entrepreneurShip</span>, la création d'entreprise. Le but étant de créer un "fast food".<br/><br/></p>
				<p class="col-md-8 col-"><span>Nous avons eu l'idée d'installer un nouveau kiosque, dénommé l'intrigue,</span> dans le nouveau programme de la société PROSKIK : kiosk food court dans le <span>quartier étudiant de Toulouse</span>, en face de la sortie du métro Faculté de pharmacie.
				La méthode du "food pairing" consiste à concocter des mélanges de saveurs inattendus en se basant sur les molécules communes entre les ingrédients. Une plateforme, prisée par de nombreux chefs, est disponible en ligne pour trouver la meilleure combinaison possible.
				Quand l'intelligence artificielle joue les marieuses dans notre assiette. Comme en amour, la rencontre entre deux ingrédients peut parfois prendre une tournure inattendue, et deux aliments peu suspects d'êtres compatibles peuvent finalement donner un délicieux alliage. 
				Et c'est ces alliances surprises qu'aide à concocter le "food pairing", ce domaine de recherche sur les associations de saveur.
				</p>
				<div class="col-md-4 col-4 pb-3">
					<img src="images/flavor.jpg" alt="" class="mx-auto"/>
				</div>
			</div>		
	</div>			
		
{% endblock %}
