<template>
    <div class="checkout row">
      <div class="col-md-6 col-12 tb">
      <h2>Payer</h2>
          <table class="table ">
            <thead>
              <tr class="text-light">
                <th>Menu</th>
                <th>Prix</th>
                <th>Quant.</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in cart" :key="item.name" class="text-light">
                <td v-text="item.name"></td>
                <td v-text="item.price"></td>
                <td v-text="item.quantite"></td>
                <td v-text="item.total"></td>
                <td><a href="" @click.prevent="remove(item) "><i class="fas fa-thin fa-trash"></i></a> </td>
              </tr>
              <tr  class="text-light">
                <td v-text="'Total à payer '+allTotal + ' €'" colspan="3"> </td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="col-md-6 col-12 striped">
          <label><h3>N° de carte</h3></label>
          <div id="cardElement"></div>
          <div id="card-error"></div>
          <button class="connect" @click="cash">Payer {{allTotal}} €</button>
      </div>        
      <router-view />
    </div>
</template>

<script>
import store from '../store'
import {loadStripe} from '@stripe/stripe-js';
import axios from 'axios';
export default{
  props:['user'],
  data () {
    return {
      stripe:{},
      cardElement:{},
      publishableKey:'pk_test_51KVmSCB8Gk9uKNlVip71Qp637DFh5furg2WLvpslhRKLN2y10N7k5tYKjngyUiXzwLACS4jWTEVov1svAyebpOAf00TOxVzBrM',
      clientSecret:""
    }
  },
  async mounted(){
     this.stripe = await loadStripe(this.publishableKey)
     const elements = this.stripe.elements();

      let style= {
          
          base: {
            iconColor: 'white',
            lineHeight: '2.4',

            color: 'black',
            fontWeight: '300',
            fontFamily: 'Roboto, Open Sans, Segoe UI, sans-serif',
            fontSize: '16px',
            fontSmoothing: 'antialiased',
            ':-webkit-autofill': {
              color: '#fce883',
            },
            '::placeholder': {
              color: '#87BBFD',
            },
          },
          invalid: {
            iconColor: '#FFC7EE',
            color: '#FFC7EE',
          },
        };
      
      this.cardElement = elements.create('card',{style})
      this.cardElement.mount('#cardElement')
  },
  computed:{
    cart (){
      return store.state.carts;
    },
    allTotal(){
      let price = this.cart.reduce((acc, item)=>acc+(item.total),0);
      return price;

    }
  },
  methods: {
    async cash(){
      let panier = JSON.parse(JSON.stringify(this.cart))

      const { token, error } = await this.stripe.createToken(this.cardElement)
      if (error) {
        // handle error here
        document.getElementById('card-error').innerHTML = error.message;
        return;
       }

      let nom = this.user.nom + " " + this.user.prenom;
      let somme = this.allTotal;

      axios.post('/stripe',{price: this.allTotal}).then(resp=>{
              this.clientSecret=resp.data.clientSecret;
              this.stripe.confirmCardPayment(this.clientSecret, {
                payment_method: {
                  card: this.cardElement,
                  billing_details: {
                    name: nom,
                  },
                },

              })
              .then(result=>{

                if(resp.status==200){

                   panier.forEach(item=>{
                     axios.post('/api/orders',{ menu:'/api/menus/'+item.id, quantite:item.quantite})
                     .then(resp=>console.log(resp))
                   })

                   axios.post('/mail',{user:this.user,menu:panier, total:somme});

                   this.$router.push({
                     name:'success'
                  });
                  
                }else{
                   this.$router.push({
                    name:'error'
                  })
                }
              })
        
        });
        store.dispatch('clearCart');
        
    },
    remove(menu){
      let index = this.cart.indexOf(menu)
      store.commit('removeToCart',index)
      this.cart
    }
  }
}
</script>
<style lang="scss">

.checkout{
    .striped{
      height:180px;
      padding:16px;
      background-color:#2F4F4F;
      border:2px solid white;
      width:90vw;
      margin-left:5vw;
      margin-top:4px;
      label{
        h2{
          font-weight:100;
        }
      }
    .connect{
      
            height: 48px        ;
            border:1px solid white;
            color:#2F4F4F;
            padding: 12px;
            margin-top:16px;
            text-decoration:none;
            background-color:#c7d720;
    }
    .StripeElement--focus {
      
  }
    }
}
@media only screen and (max-width:400px){
  .tb{
    margin-top:-170px;
  }
  .striped{
    margin-top:-170px;
  }
  
}
</style>