<template>
    <div class="row">
        <div class="shop col-md-5 offset-md-1 col-12" v-if="commandBoolean==false" >
            
                <h2>Choisir son menu</h2>
                <table class="table table-stripped">
                    <thead>
                        <tr class="text-light">
                            <th></th>
                            <th>menu</th>
                            <th>prix </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in men" :key="item.id"  class="text-light">
                        
                            <td v-if="item.name=='Aventure'"> <img src="images/brownie.jpg" class="img-fluid" style="width:80px"/> </td>
                            <td v-if="item.name=='Découverte'"> <img src="images\IMG-20220119-WA0011.jpg" class="img-fluid" style="width:80px"/> </td>
                            <td><RouterLink :to="{name:'qte',params:{id:item.id}}" >{{item.name}}</RouterLink></td>
                            <td><small>{{item.price.label}} €</small></td>
                            
                            <router-view :user="user" :auth="auth" :id="item.id"></router-view>
                        </tr>
                    </tbody>
                </table>
                
        </div>
        
    </div>
</template>
<script>
import axios from 'axios';
import Total from './Total.vue'
import store from '../store'
export default {
    
    props:{auth:String,user:Object},
    components:{Total},
    data(){
        return{
            menu:{
                id:Number,
                name:String,
                price:{
                    label:"0"
                },
            },
            commandBoolean:false,
        }
    },
    
     mounted(){
        
        store.dispatch('fetchMenu',this.auth)
    },
    computed:{
        men(){
                return  store.getters.getMenus
        }
    },
    methods:{
         sum(id){
             this.commandBoolean=true
             this.menu.id=id;
         }
     }
}
</script>
<style lang="scss">
table{
    color:white;
    tbody{
        tr{
            td{
                button{
                    background-color:#c7d720;
                    border-radius:2px;
                }
            }
        }
    }
}
h2{
    font-size: 250;
    color:white;
}
ul{
    li.liMenu{
        list-style: none;
        height: 40px;
        width: 350px;
        padding: 8px;
        border-bottom: 1px solid rgb(255, 255, 255);
        cursor: pointer;
    }
}
</style>