<template>

    <form method="post" @submit.prevent="sub()" class="p-5">
    <h1 class="h3 text-light text-center ">Créer un compte</h1>
        <div><input type="email"  v-model="user.email" placeholder="Adresse E-mail"  autocomplete="email" required autofocus></div>
        <div>
            <input type="password" v-model="user.password" placeholder="Mot de passe"  autocomplete="current-password" required>
            <div class="error" v-if="passwordError.length > 0"><p class="text-danger">{{passwordError}} </p></div>
        </div>
        <div><input type="text" v-model="user.prenom" placeholder="Prénom"  autocomplete="current-prenom" required></div>
        <div><input type="text" v-model="user.nom" placeholder="Nom"  autocomplete="current-nom" required></div>

        <input type="hidden" name="_csrf_token"/>
        <div>
           
            <button class="btn create" type="submit">
                Créer un compte
            </button><br>
            <button class="btn create" @click="back">
                back
            </button>
        </div>
    </form>
    


</template>
<script>
import axios from 'axios';
import store from '../store'
export default {
    data(){
        return{
            user:{
                nom:"",
                prenom:"",
                password:"",
                email:""
            },
            passwordError:""
        }
    },
    methods:{
        sub(){
            let regex = /(?=.*[A-Aa-z])(?=.*[0-9])(?=.*[!@#$&*]).{8,}/
            if(!regex.test(this.user.password)){
                this.passwordError = "Le mot de passe doit contenir au moins 8 caractères dont au moins 1 chiffre et 1 carctère special"
                console.log(this.passwordError)
                return;
            }
            if(!this.user.password )
            store.dispatch('createUser',{
                user:this.user
            });
            this.$emit('setBoolean',{message:"** utilisateur créé"});
             this.$router.push({
                 name:'home'
             });
            
        },
        back(){
            this.$emit('setBoolean',{message:""})
            this.$router.push({
                name:'home'
            })
        }
    }
}
</script>
<style lang="scss">
    form{
        height:100%;
        background-color:transparent;
        
        input:focus{
            color:white;
        }
        input{
            color:rgb(163, 162, 162);
            width:100%;
            background-color:transparent;
        }
    }
</style>