<template>
<div class="d-flex justify-content-center align-items-center">
    <h1>Désolé il y a eu un erreur !!</h1>
    <RouterLink :to="{name:'checkout'}" >Recommencer</RouterLink>
</div>
</template>

<script>

</script>