// <template>
// <div class="row log">
//     <div class="col-md-3 offset-md-1 col-sm-3 col-6 offset-sm-1 offset-1 mt-5 p-3 link" style="height:80px;">
//         <a href="/" class="mt-5" ><i class="fas fa-home linkcolor"></i> Retour à l'accueil</a>
//         <p class="text-white">{{onSuccess.prenom}}</p>
//     </div>
    
//     <form method="post" @submit.prevent="login()" class="col-md-5 offset-md-7  offset-sm-1 offset-1" v-if="ok">
//         <p v-if="ok" class="text-success">{{message}} </p>
//         <div v-if="responseError">
//             <p  class="text text-danger">** Mot de passe ou email invalide</p>
//         </div>
//         <h1 class="h3 text-light  text-center" v-if="ok">Connecter vous ou créer un compte</h1>
//         <input type="email"  v-model="user.email" placeholder="E-mail"  autocomplete="email" required autofocus />
//         <input type="password" v-model="user.password" placeholder="Mot de passe"  autocomplete="current-password" required />
//         <input type="hidden" name="_csrf_token"/>
//         <div>
//             <button class="btn create" type="submit">
//                 Se connecter
//             </button>
//         </div>
//     </form> 

//     <!-- Créer son compte -->
//         <create v-if="boolean" @accueil="modify"></create>

//     <div class="create_member col-md-5 offset-md-7 mt-5" v-if="ok">
//         <p class="text-light">Pas encore de compte?</p>
//         <button class="connect" @click="change()">S'inscrire gratuitement</button>
//     </div>
    
//     <!-- Commander -->
//         <command :auth="token" v-if="command" :user="onSuccess"></command>

// </div>
// </template>
// <script>
// import axios from 'axios';
// import Create from './Create';
// import Command from './Command';
// import reactive from 'vue'
// export default{
    
//     components:{Create, Command},
//     data(){
//         return{
//             user:{
//                 nom:"",
//                 prenom:"",
//                 password:"",
//                 email:""
//             },
//             onSuccess:"",
//             boolean:false,
//             ok:true,
//             command:false,
//             token:String,
//             responseError:false,
//             message:""
//         }
//     },
   
//     methods:{
//         change(){
//             this.boolean=!this.boolean;
//             this.ok=!this.ok;
//         },
//         async login(){
//             await axios.post("/api/login_check",{email:this.user.email, password:this.user.password}).then(resp=>{
//                 this.ok=!this.ok;
//                 this.command=!this.command;
//                 this.token=resp.data.token;
//                 console.log(resp.data)
//                 this.onSuccess=resp.data.data
//                 }).catch(error=>{
//                         if(error.response.status===401){
//                             this.responseError=true
//                         }
//                 })
//         },
//         modify(message){
//             this.boolean=!this.boolean;
//             this.message = message;
//             this.ok=!this.ok;
//         }
//     }
// }
// </script>
// <style lang="scss">

//     .log{
//         position: fixed;
//         top:0;
//         bottom: 0;
//         left:0;
//         right:0;
//         background-color: rgba(0, 0, 0, 0.95);
//         z-index:2;
//         .link a{
//             color:white;
//             margin-top: 16px;
//             font-size: 16px;
//             font-weight: 250;
//             text-decoration: none;
//             i.linkcolor{
//                 background-color:rgb(231, 16, 177);
//             }
//         }
//         h1{
//             font-weight: 250;
//         }
//         form{
//             height:250px;
//             input{
//                 height: 40px;
//                 width: 90%;
//                 margin-top: 16px;
//                 background-color: rgb(27, 27, 27);
//             }
//             .create{
//                 background-color: rgb(129, 3, 129);
//                 color:white;
//                 border:none;
//                 border-radius: 4px;
//                 margin-top: 8px;
//             }
            
//         }
//         .create_member{
//             position: relative;
//             top:-100px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;
//             z-index:2;
//             button{
//                 height: 48px;
//                 border:1px solid white;
//                 background-color: transparent;
//                 color:white;
//                 padding: 12px;
//             }
//         }
        

        
//     }
//     @media only screen and (max-width:600px){
        
//     .log{
//         position: fixed;
//         top:0;
//         bottom: 0;
//         left:0;
//         right:0;
//         background-color: rgba(0, 0, 0, 0.95);
//         .link a{
//             color:white;
//             margin-top: 16px;
//             font-size: 12px;
//             font-weight: 250;
//             text-decoration: none;
//             i.linkcolor{
//                 background-color:rgb(231, 16, 177);
//             }
//         }
//         h1{
//             font-weight: 250;
//             font-size:14px;
//             color:red;
//         }
//         form{
//             input{
//                 height: 40px;
//                 width: 90%;
//                 margin-top: 16px;
//                 background-color: rgb(27, 27, 27);
//             }
//             .create{
//                 background-color: rgb(129, 3, 129);
//                 color:white;
//                 border:none;
//                 border-radius: 4px;
//                 margin-top: 8px;
//             }
            
//         }
//         .create_member{
//             position: relative;
//             top:-100px;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             flex-direction: column;
//             button{
//                 height: 48px;
//                 border:1px solid white;
//                 background-color: transparent;
//                 color:white;
//                 padding: 12px;
//             }
//         }
        

        
//     }
//     }
// </style>