<template>
    <div class="create_member col-md-5 offset-md-7 mt-5" v-if="ok">
        <p class="text-light">Pas encore de compte?</p>
        <button class="connect" @click="change()">S'inscrire gratuitement</button>
    </div>

</template>

<script>
import Create from "./Create.vue"
export default {
    data(){
        return {
            boolean:false
        }
    },
    components:{Create},
    methods:{
        change(){
                this.boolean=!this.boolean;
            }
    }
}
</script>
<style>

</style>