<template>
    <div class="container qte ">
        <div class="row">
            <h2>Quantité</h2>
            <div class="col-md-6 col-12">
                <h2>Menu <span>{{ menu.name }}</span></h2>
                <p class="text-white">Prix Unitaire {{menu.price }}€ TTC</p>
                    <button @click="add()" ><i class=" fas fa-solid fa-plus" ></i></button>
                    <button @click="moins()" ><i class=" fas fa-solid fa-minus" ></i></button>
                    <span class="text-light">{{ addtotal }}</span>
            </div>
            <div class="col-md-6 col-12">
                <h2>Total : {{ calcul | formatNumber }} € </h2> 
                <button class="button" @click="pay()">Ajouter au panier</button>
            </div>
        </div>

        
        <router-view :user="user" />

    </div>
</template>
<script>
import axios from 'axios'
import Vue from "vue";
import {loadStripe} from '@stripe/stripe-js';
import store from '../store'
export default {
    props:{id:Number, auth:String, user:Object},
    data(){
        return{
            menu:{
                id:"",
                name:"",
                price:""
            },
            
            total:1,
            somme:"",
        }
    },
    
   async mounted(){

        if(this.id !== undefined){
        axios.get('/api/menus/'+this.id,
            {headers:{'Authorization':'Bearer '+this.auth}}
        )
        .then(response=>{this.menu={
            id:response.data.id,
            name:response.data.name,
            price:response.data.price.label
        } ;
        })
        }
       

    },
    
    computed:{

        calcul(){
            this.somme = this.menu.price * this.total
            return String(this.menu.price * this.total);
            
        },
        addtotal(){
            return this.total
        }
    },
    methods:{
        add(){
            this.total = this.total+1
        },
        moins(){
            this.total = this.total-1
        },
        pay(){
            let product = {
                id:this.menu.id,
                name:this.menu.name,
                price:this.menu.price,
                quantite:this.total,
                total:this.somme
            }
            store.commit('addToCart',product)
            this.$router.push({
                name:"menu"
            })

        },

        
         
    }
}
</script>
<style lang="scss">

.qte{
    margin-left: 10%;
    padding: 16px;
        input, div::placeholder{
            color:white;
        }
    
    .button{
        height: 48px
        ;
        border:1px solid white;
        background-color: transparent;
        color:#2F4F4F;
        padding: 12px;
        margin-top:16px;
        text-decoration:none;
        background-color:#c7d720;

    }    
    .row button {
        background-color:#c7d720;
        border-radius:2px;
        margin-right:8px;
    }   
    span{
        margin-left:12px;
    }
    
    h2{
    font-size:24px;
    font-weight: 250;
    margin-bottom:16px;
    span{
        font-style:italic;
        color:#c7d720;
    }
    }
}
@media only screen and (max-width:800px){
    .qte{
        margin-left:8px;
    }
}
</style>
