<template>
<div class="row log">
    <div class="col-md-6 offset-md-1  col-12 offset-sm-1 mt-3 link" style="height:80px;">
        <ul class="">
            <li ><a href="/"   ><i class="fas  fa-home linkcolor"></i> Retour au sîte</a></li>
            <li ><RouterLink  :to="{name:'menu'}"  ><i class="fas fa-utensils"></i>&nbsp; Commander</RouterLink></li>
        </ul>
            <span v-if="ok===false" class="float-right"><i class="fas fa-user linkcolor"></i>  {{onSuccess.prenom}}</span>
            
            <RouterLink :to="{name:'checkout'}" v-text="'Aller au panier '+$store.state.carts.length" v-if="$store.state.carts.length > 0" class=" afl"></RouterLink>
            
    </div>
    
    <!-- formulaire de connection -->
    <form method="post" @submit.prevent="login()" class="col-md-5 offset-md-7  offset-sm-1 offset-1" v-if="ok">
        <p  class="text-success">{{message}} </p>
        <div v-if="responseError">
            <p  class="text text-danger">** Mot de passe ou email invalide</p>
        </div>
        <h1 class="h3 text-light  text-center" v-if="ok">Connecter vous ou créer un compte</h1>
        <input type="email"  v-model="user.email" placeholder="E-mail"  autocomplete="email" required autofocus />
        <input type="password" v-model="user.password" placeholder="Mot de passe"  autocomplete="current-password" required />
        <input type="hidden" name="_csrf_token"/>
        <div>
            <button class="btn create" type="submit">
                Se connecter
            </button>
        </div>
        <div class="create_member col-md-5 offset-md-7 mt-5 mr-3" v-if="ok">
            <p class="text-light">Pas encore de compte ?</p>
                <RouterLink :to="{name:'create'}" class="connect btn" @click="change">S'inscrire gratuitement</RouterLink>

        </div>
    </form> 

    <!-- Créer son compte -->

    
    
    <router-view @setBoolean="setCreate" :auth="token" :user="user"/>

</div>
</template>
<script>
import axios from 'axios';
import store from './store'
export default{
    
    data(){
        return{
            user:{
                nom:"",
                prenom:"",
                password:"",
                email:""
            },
            onSuccess:"",
            boolean:false,
            ok:true,
            token:String,
            responseError:false,
            message:""
        }
    },
   
    methods:{
        change(){
            this.ok=!this.ok;
        },
        setCreate(message){
            this.message = message.message;
            this.ok=!this.ok;
        },
        async login(){
            await axios.post("/api/login_check",{email:this.user.email, password:this.user.password}).then(resp=>{
                this.ok=!this.ok;
                this.$router.push({
                    name:'menu',
                })
                this.token=resp.data.token;
                this.onSuccess=resp.data.data
                this.user = resp.data.data
                }).catch(error=>{
                        if(error.response.status===401){
                            this.responseError=true
                        }
                })
        },
       
    }
}
</script>
<style lang=scss>

    .log{
        position: fixed;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        background-color: rgba(0, 0, 0, 0.95);
        z-index:2;
        
        .link{
            position:relative;
            border-radius:2px;
            height:auto;
            ul{
                li{
                    list-style:none;
                    border-bottom:1px solid #2F4F4F;
                    width:50%;
                    a{
                        color:white;
                        font-size: 18px;
                        text-decoration: none;
                        font-weight:250;
                
                        }
                }
            }
                span{
                    display:block;
                    position:absolute;
                    right:8px;
                    top:8px;
                    color:#fff;
                    font-style:italic;
                    font-size:14px;

                }
                a.afl{
                    position:absolute;
                    right:8px;
                    top:32px;
                    color:white;
                    font-style:italic;
                    font-size:16px;
                    text-decoration:none;
                    border:1px solid white;
                    border-radius:2px;
                    padding:4px;
                }
                
        }
        .panier a{
            float:right;
        }
        
        h1{
            font-weight: 250;
        }
        form{
            input{
                color:white;
                height: 40px;
                width: 90%;
                margin-top: 16px;
                background-color: rgb(27, 27, 27);
                &::placeholder{
                    color:white;
                }
                
            }
            .create{
                background-color: rgb(129, 3, 129);
                color:white;
                border:none;
                border-radius: 4px;
                margin-top: 8px;
            }
            
        }
        .create_member{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index:2;
            .connect{
                height: 48px;
                border:1px solid white;
                background-color: transparent;
                color:white;
                padding: 12px;
            }
        }
        

        
    @media only screen and (max-width:400px){
        
    
         .link{
             margin-top:0;
             a{
             font-size: 10px;
             font-weight: 200;
             text-decoration: none;
             color:red;
             .sp{
                 margin-top:-20px;
             }
        
         }
         } 
        h1{
            font-weight: 250;
            font-size:14px;
            color:red;
        }
        form{
            input{
                height: 40px;
                width: 90%;
                margin-top: 16px;
                background-color: rgb(27, 27, 27);
            }
            .create{
                background-color: rgb(129, 3, 129);
                color:white;
                border:none;
                border-radius: 4px;
                margin-top: 8px;
            }
            
        }
        .create_member{
            position: relative;
            height:30px;
            bottom:10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .connect{
                height: 48px;
                border:1px solid white;
                background-color: transparent;
                color:white;
                padding: 12px;
            }
        }
        

        
    }
    
    }
</style>