@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Praise&display=swap');
body{
header {
    height: 73vh;
    background-color: #fff;
    background: url("/var/www/lintrigue/public/images/food-court.jpg") no-repeat;
    background-size: cover;
    background-position: 200px;
    background-position-x: 0;
    .headerLeft {
        height: 73vh;
        padding-top: 40px;
        background-color:#104859;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        .hamburger {
            display: block;
            position: relative;
            height: 48px;
            width: 48px;
            margin-top: 18px;
            margin-left: 20px;
            border-radius: 50%;
            cursor: pointer;
            span {
                position: absolute;
                display: inline-block;
                top: 4px;
                left: 13px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background-color: white;
                &:before {
                    content: "";
                    position: absolute;
                    height: 6px;
                    width: 6px;
                    top: 10px;
                    left: 0px;
                    border-radius: 50%;
                    background-color: white;
                }
                &:after {
                    content: "";
                    position: absolute;
                    height: 6px;
                    width: 6px;
                    top: 20px;
                    left: 0px;
                    border-radius: 50%;
                    background-color: white;
                }
            }
            &:hover {
                transform: scale(1.05);
            }
        }
        ul {
            margin-top: 35vh;
           // margin-right: 16px;
            li {
                list-style: none;
                font-weight: bold;
                font-family: "The Nautigal", cursive;
                font-size: 32px;
                color: white;
            }
        }
    }
    .col-md-11 {
        height: 73vh;
        margin: 0;
        padding: 0;
        
        .lintrigue{
            position: relative;
            top:30px;
            left: 10px;
            
            img{
                height: 14vh;
                position: relative;
                left:10vh;
                top:4vh;
            }
        }
        
        .welcome{
            position: absolute;
            right:8%;
            top:50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0;
             height: 20vh;
             width: 30vh;
            img{
                width: 100%;
                margin-bottom: 12px;
            }
            p{
                margin: 0;
                font-size: 12px;
                font-weight: bold;
                color:white;
            }
        }
        
    }
    ._menu {
        position: absolute;
        top: 0px;
        left:0%;
        height: 73vh;
        width: 92.65%;
        background-color: rgba(0, 0, 0, 0.863);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-1500px);
        transition-duration: 0.5s;
        ul {
            width: 600px;
            li {
                list-style: none;
                border-bottom: 1px solid rgb(250, 245, 245);
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 32px;
                    font-family: "The Nautigal", cursive;
                   
                }
            }
        }
    }
    [class*=menu-]{
        opacity:0;
        transform:translateX(-250px);
    }
    .menu-visible{
        opacity:1;
        transform:translateX(0)
    }
    .menu-1{
        transition-delay: .2s;
    }
    .menu-2{
        transition-delay: .4s;
    }
    .menu-3{
        transition-delay: .6s;
    }
    .menu-4{
        transition-delay: .8s;
    }
    .arrow a{
        position: relative;
        top:-80px;
        height: 80px;
        width: 80px;
        border-radius:50%;
        background-color: #fff;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#80c0b0;
        
    }
    
    .trans {
         transform: translateX(0);
    }
   
}
.container-fluid{
    margin:0;
.presentation {
    margin-top: 32px;
    padding-top: 52px;
    padding-bottom: 32px;
    background-color: #1048593b;
    position: relative;
    .row{
        p.one{
            font-size: 28px;
            font-weight: 100;
            //color:rgb(206, 207, 203);
        }
    }
    p{
        //color:white;
        font-size: 18px;
        font-weight: 300;
    }
    .image{
        display: flex;
        img{
            margin-left: 8px;
        }
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius:50%;
        background-color: #fff;
        margin:auto;
    }
    .fa-landmark{
        color:#80c0b0;
    }
    img{
        width: 90vh;
    }
      

    h1 {
        width: 100%;
        //color: #80c0b0;
        color: #10485975;
        //font-family: "The Nautigal", cursive;
        //font-size: 84px;
        padding-bottom: 32px;
        font-weight: 100;
        position: relative;
        top: -16px;
    }
    h2 {
        width: 50%;
        color: #10485975;
        //font-family: "The Nautigal", cursive;
        font-size: 40px;
        padding-top: 32px;
    }
}
.container_show {
    width: 100%;
    height: 100vh;
    padding-bottom: 16px;
    padding-top: 120px;
    z-index: 100;
    h2{
        font-family: "The Nautigal", cursive;
    }
    .image{
        display: flex;
        padding-left: 10vw;
        img{
            width: 18vw;
            margin-left: 2vw;
        }
    }
    .gallery {
        position: fixed;
        top: 0;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100vw;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img{
            height: 80vh;
        }
        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            outline: none;
            cursor:pointer;
            border:none;
            background-color: transparent;
            .fa-times {
                color: rgb(255, 255, 255);
            }
        }

        .prev {
            
            height: 60px;
            width: 40px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor:pointer;
            .fa-chevron-left {
                color: rgb(255, 255, 255);
            }
        }

        .next {
           
            height: 60px;
            width: 40px;
            background-color: transparent;
            border: none;
            
            outline: none;
            cursor:pointer;
            .fa-chevron-right {
                color: rgb(255, 255, 255);
            }
        }
    }
    
}  
.row{
    padding-top: 0;
    margin:0;
.second{
    background-color: #fff;
    color:#031c35;
    font-size: 18px;
    padding: 8px;
    margin-bottom: 32px;
    h2 {
        width: 50%;
        color: #104859;
    }
    ol li{
        font-size: 24px;
    }
    [class*=appear-]{
        opacity:0;
        transform:translateY(-150px);
    }
    .appear-visible{
        opacity:1;
        transform: translateY(0);
        transition:1.9s cubic-bezier(0.19, 1, 0.22, 1);

    }
    .appear-1{
        transition-delay:.1s,
    }
    .appear-2{
        transition-delay: .3s;
    }
    .appear-3{
        transition-delay: .5s;
    }
    .appear-4{
        transition-delay: .7s;
    }
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius:50%;
        background-color: #80c0b0;
        margin:auto;
        margin-top:12px;
    }
    .fa-heart{
        color:#fff;

    }
    .fa-project-diagram{
        color:#80c0b0;
    }
}
.pairring{
    background-color: #fff;
    font-size: 18px;
   
    
    h2{
        color:#80c0b0;
        //font-family: "The Nautigal", cursive;
        font-size: 40px;
    }
    img{
        width: 100vh;
        margin: auto;
    }
    span{
        color:#104859;
        font-size: 12px;
        font-weight: bold;
        display: block;
        padding: 8px;
    }
}
.second{
    .second_text{
        margin-right: 32px;
    }
}
.turn{
    background-color: #104859;
    margin-top: 38px;
    margin-bottom: 38px;
    padding: 58px 3px 3px 38px;
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius:50%;
        background-color: #ffffff;
        margin:auto;
        margin-top:12px;
    }
    h2{
        color:#ffffff;
        padding: 12px 0;
    }
    p{
        font-size: 18px;
        font-weight: 250;
        color:white;
        span{
            font-size: 22px;
            color:#f06ff0;
        }
    }
    .fa-project-diagram{
        color:#30cdfd;
    }
}
}
.to_right{
    background-color: #fff;
    margin-top: 32px;
    height: 80vh;
    p{
        font-size: 18px;
    }
    img{
        margin:auto;
    }
    .command{
        padding:12px;
        background-color: transparent;
        border:none;
        font-size: 18px;
        
        background-color: #104859;
        color:white;
        &:hover{
            color:white;
            background-color: #30cdfd;
        }
    }
    h2{
        color: rgb(121, 5, 121);
        padding: 8px;
        font-weight: 250;
        text-align: center;
        font-size: 30px;
    }
    div{
        margin-bottom: 32px;
    }
}
._menu_{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 32px;
    align-items: center;
    background-color: rgb(36, 35, 32);
        .entree,.principal,.dessert,.boisson{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 17vh;
        }
        h1{
            font-weight: 200;
            color:#c7d720;;
        }
        h3{
            margin-bottom: 0;
            background-color: #c7d720;
            color:#031c35;
            font-weight: 280;
    
            padding: 8px;
            font-size: 24px;
        }
        h4{
            margin-bottom: 0;
            color:rgb(235, 97, 235);
            font-weight: 200;
        }
        p{
            line-height: 0.95;
            color:white;
        }
    
    span{
        color:white;
    }
}
.nos_menus{
    ._menu_{
        div{
            height: 150px;
        }
    }
    .command-us{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .command{
            padding:12px;
            background-color: transparent;
            border:none;
            font-size: 18px;
            background-color: #104859;
            color:white;
            &:hover{
                color:white;
                background-color: #30cdfd;
            }
        } 
    }
}
.teams {
    background-color: #fff;
    margin-top: 32px;
    
    .col-md-8{
        background-color: #104859;

    }
    h1 {
        font-size: 48px;
        color: #80c0b0;
        font-weight: 250;
        margin-top: 60px;
       }
    .carde{
        padding: 32px;
        .nom{
            font-size: 28px;
            color:#80c0b0;
            &::after{
                content:"";
                height: 4px;
                width: 550px;
                background-color: white;
                display: block;
                font-family: 'Gochi Hand', cursive;
    
            }
        }
    }
    p{
        color:white;
    }
    .citation{
        font-size: 24px;
        color:#80c0b0;
        
        width: 50%;
        margin: auto;
    }
    [class*=reveal-]{
        opacity:0;
        transform:translateX(-30px)
    }
    .reveal-visible{
        opacity:1;
        transform:translateX(0) ;
        transition:1.2s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .reveal-1{
        transition-delay: .8s;
    }
    .reveal-2{
        transition-delay: 2s;
    }
    [class*=appear-]{
        opacity:0;
        transform:translateY(-150px);
    }
    .appear-visible{
        opacity:1;
        transform: translateY(0);
        transition:1.9s cubic-bezier(0.19, 1, 0.22, 1);

    }
    .appear-1{
        transition-delay:.4s,
    }
    .appear-2{
        transition-delay: .9s;
    }

}//fin teams
.selogin{
    background-color: rgba(43, 40, 40, 0.952);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    color:white;
    form{
        button{
            background-color: rgb(129, 3, 129);
            color:white;
            border:none;
            border-radius: 4px;
            margin-top: 8px;
            padding: 4px;
        }
    }
}
}//fin de container-fluid
footer{
   // height: 150px;
    margin-top: 32px;
    margin-bottom: 0;
    background-color: rgb(36, 35, 32);
    .menu_footer{
        ul{
            margin-left: 10vw;
            display: grid;
            margin-top: 8px;
            li{
                list-style: none;
                height: 40px;
                float: left;
                
                a{
                    text-decoration:none;
                    font-size: 12px;
                    color:white;
                }
            }
        }
        
    }
    p{
        font-family: 'Reem Kufi Fun', sans-serif;
        font-size: 34px;
    }
}



@media all and (min-width:320px) and (max-width: 480px){
        
        background-color: #fff;
        margin: 0;
        padding: 0;
        header{
            height: 25vh;
            background:url('');
            margin-bottom: 70px;
            .row{
                height: 25vh;
                margin:0;
                .headerLeft{
                    background-color: #fff;
                    height: 25vh;
                    margin: 0;
                    padding: 0;
                    display: block;
                    border:none;
                    .hamburger{
                        display: inline-block;
                        span {
                            position: absolute;
                            display: inline-block;
                            top: 4px;
                            left: 13px;
                            height: 4px;
                            width: 4px;
                            border-radius: 50%;
                            background-color: rgb(73, 68, 68);
                            &:before {
                                content: "";
                                position: absolute;
                                height: 4px;
                                width: 4px;
                                top: 8px;
                                left: 0px;
                                border-radius: 50%;
                                background-color: rgb(73, 68, 68);
                            }
                            &:after {
                                content: "";
                                position: absolute;
                                height: 4px;
                                width: 4px;
                                top: 16px;
                                left: 0px;
                                border-radius: 50%;
                                background-color: rgb(73, 68, 68);
                            }
                        }
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                    }
                    .col-2 ul{
                        display: none !important;
                       
                    }
                }
                .fd_ecran{
                    height: 25vh;
                    span.span{
                        display: none;
                    }
                    .welcome{
                        display: none;
                    }
                    .lintrigue{
                        top:0;
                        img{
                            height: 30vh;
                            position: absolute;
                            top:0;
                            left:0;
                        }
                        &::before{
                            display: none;
                        }
                        &::after{
                            display: none;
                        }
                    }
                    
                }
                ._menu{
                    height: 40vh;
                    width: 80%;
                    background-color: rgb(0, 0, 0);
                    ul{
                        width: 90%;
                        margin: 0;
                        li{
                            border-bottom: 1px solid rgb(145, 143, 143);
                            width: 90%;
                            a{
                                color:rgb(255, 255, 255);
                            }
                        }
                    }
                    .trans {
                        transform: translateX(0);
                   }
                }
                .arrow{
                    a{
                        display: none;
                    }
                }
                
                
            }
           
            
            .container-fluid{
                margin:0;
                padding: 0;
                .teams{
                    .carde{
                        .nom{
                            font-size:24px;
                            &::after{
                                width:270px;
                                height: 2px;
                            }
                        }
                    }
                }
                .row{
                    .presentation{
                        font-size: 24px;

                        h1{
                            display: none;
                        }
                        p.one{
                            font-size: 24px !important;
                            
                        }
                        .icon{
                            svg{
                                font-size:34px;
                            }
                        }
                        .offset-md-1{
                            .row{
                                p.one{
                                    font-size: 24px;
                                    
                                }
                            }
                        }
                    }
                    .turn{
                        padding:0;
                    }
                    
                    .container_show{
                        height: 50vh;
                        .gallery{
                            height:100vh;
                            background-color: #092933;
                            button{
                                font-size:10px;
                            }
                            img{
                                width:70vw;
                                border-radius:8px;
                            }
                            
                        }
                    }
                    .row .pairring p{
                        padding: 0;
                    }
                    .row{
                        .turn{
                            padding: 0;
                            .col-4{
                                padding:5px;
                            }
                        }
                    }
                    .teams {
                        background-color: #fff;
                        margin-top: 32px;
                        
                        h1{
                            font-size: 24px;
                        }
                        
                    }
                }
        }
        
    }//fin media screen
}