
{% extends ('base.html.twig') %}
{% block body %}
    <!-- Icons Grid -->
    
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <form action="{{ path("subscription", {'id': menu.id }) }}" method="post" id="payment-form">
                            <div class="form-row">
                                <div id="card-elements" class="test"></div>


                                <div id="card-errors" role="alert"></div>
                            </div>
                            <button class="btn btn-primary mt-4">
                                Acheter {{ menu.price }} €
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <h3>Quantité  </h3>
                        <input type="number 
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script src="https://js.stripe.com/v3/"></script>
<script>
    window.addEventListener('DOMContentLoaded',()=>{

        var stripeToken = "{{ STRIPE_PUBLIC_TEST }}";
        var stripe = Stripe(stripeToken);
        var elements = stripe.elements();
        var subscription = "{{ menu.id }}";
        var clientSecret = "{{ intentSecret }}";
        var cardholderName = "{{ user.prenom }}";
        var cardholderEmail = "{{ user.email }}";  
        console.log('clientSecret',cardholderName);

        var styleCustom = {
            base: {
                fontSize: '16px',
                color: '#25332d'
            }
        }

        // Monter notre form a l'objet Stripe
        var card = elements.create('card', {style: styleCustom });
        console.log(document.querySelector('.test'));
        card.mount("#card-elements");

        //Message Error
        card.addEventListener('change', function(event){
            var displayError = document.getElementById('card-errors');

            if(event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
        }
        })

        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.handleCardPayment(
                clientSecret,
                card,
                {
                    payment_method_data: {
                        billing_details: {
                            name: cardholderName,
                            email: cardholderEmail
                        }
                    }
                }
            ).then((result) => {
                if(result.error) {
                    // Display error
                } else if('paymentIntent' in result) {
                    console.log('Result : ',result);
                    stripeTokenHandler(result.paymentIntent);
                    console.log('Result paymentIntent : ',result.paymentIntent);
                }
            })
        });

        function stripeTokenHandler(intent) {
            var form = document.getElementById('payment-form');
            var InputIntentId = document.createElement('input');
            var InputIntentPaymentMethod = document.createElement('input');
            var InputIntentStatus = document.createElement('input');
            var InputSubscription = document.createElement('input');

            InputIntentId.setAttribute('type', 'hidden');
            InputIntentId.setAttribute('name', 'stripeIntentId');
            InputIntentId.setAttribute('value', intent.id);

            InputIntentPaymentMethod.setAttribute('type', 'hidden');
            InputIntentPaymentMethod.setAttribute('name', 'stripeIntentPaymentMethod');
            InputIntentPaymentMethod.setAttribute('value', intent.payment_method);

            InputIntentStatus.setAttribute('type', 'hidden');
            InputIntentStatus.setAttribute('name', 'stripeIntentStatus');
            InputIntentStatus.setAttribute('value', intent.status);

            InputSubscription.setAttribute('type', 'hidden');
            InputSubscription.setAttribute('name', 'subscription');
            InputSubscription.setAttribute('value', subscription);

            form.appendChild(InputIntentId);
            form.appendChild(InputIntentPaymentMethod);
            form.appendChild(InputIntentStatus);
            form.appendChild(InputSubscription);
            form.submit();
        }
    });

</script>
{% endblock %}