<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}L'intrigue!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link
		rel="icon" type="image/x-icon" href="images/cfav/favicon.ico">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Praise&family=Reem+Kufi+Fun&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('main') }}
		{% endblock %}

		{% block javascripts %}
		<script src="https://js.stripe.com/v3"></script>

			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('main') }}
		{% endblock %}
	</head>
	<body>
		<header >
			<div class="row">
				
				 <div class="fd_ecran col-md-11 col-sm-11 col-9">
					<span class="span"></span>  
					<div class="lintrigue">
						<img src="images/lintrigue.png" alt="" class="img-fluid"/>
					</div>
					{#
					<div class="welcome">
						<img src="images/occitanie.jpeg" />
						<p>Lycée des métiers de <p>l'hôtellerie et</p><p> du tourisme d'occitanie</p>
					</div>#} 
                    

				</div> 
				<div class="headerLeft col-md-1 col-sm-1 col-2 ">
					<span class="hamburger">
						<span></span>
					</span>
					<ul>
						<li>m</li>
						<li>e</li>
						<li>n</li>
						<li>u</li>
					</ul>
				</div>
				<div class="_menu col-md-11 col-9">
					<ul>
						<li class="menu-1"><a href="{{ path('home')}} ">Accueil</a></li>
						<li class="menu-2"><a href="{{ path('menu')}} ">Nos menus</a></li>
						<li class="menu-3"><a href="{{ path('team')}} ">La team</a></li>
						<li class="menu-4"><a href="{{ path('logo')}} ">Le logo</a></li>
					</ul>
				</div>
				{# <div class="arrow mb-3">
	                <a href="#"><i class="fas fa-chevron-down fa-3x"></i></a>
                </div>  #}
				
			</div>
		</header>




		
		<div class="container-fluid"> 
			<div id="app"></div> 
			{% block body %}{% endblock %}
		</div>

		<footer class="footer">
			<div class="container-fluid ">
				<div class="row">
					
					<div class="menu_footer col-md-6 col-sm-10 col-6 ">
							
								<ul>

									<li><a href="{{ path('home')}} ">Accueil</a></li>
									<li><a href="{{ path('menu')}} ">Nos menus</a></li>
									<li><a href="{{ path('team')}} ">La team</a></li>
									<li><a href="{{ path('logo')}} ">Le logo</a></li>
								</ul>
					</div>
					<div class="col-md-6 col-6 d-flex justify-content-center align-items-center">
						<p class="text-white">Lintrigue</p>
					</div>
				</div>
			</div>
		</footer>

		
		</body>
	</html>
