{% extends 'base.html.twig' %}

{% block title %}Hello LogoController!{% endblock %}

{% block body %}
<div class="row mt-5">
    <img src="images\description.png" alt="" width="50%" />
</div>
{% endblock %}
