{% extends 'base.html.twig' %}

{% block title %}Nos menu | lintrigue
{% endblock %}

{% block body %}
	<div class="row nos_menus">
		{% for decouverte in decouvertes %}
		<div class="col-md-4 border offset-md-1 _menu_ col-12">
			<h1>{{ decouverte.name }}</h1>
			<img src="images/lintrigue.png" alt="" width="20%" />
			<span>Prix {{decouverte.price.label | number_format(2, '.', ',') }} €</span>
			
			{% for plat in decouverte.plats %}

					{% if plat.type == "Entrée"%}
						<div class="entree">
							<h3 class="text-center mt-2">{{ plat.type }}</h3>
							<h4>{{ plat.label }}</h4>
							<p class="text-center">{{ plat.comment | nl2br }}</p>
						</div>
					{% endif %}

					{% if plat.type == "Plat principal"%}
						<div class="principal">
							<h3 class="text mt-2">{{ plat.type}}</h3>
							<h4>{{ plat.label }}</h4>
							<p class="text-center">{{ plat.comment | nl2br }}</p>
						</div>
					{% endif %}
					{% if plat.type == "Délices Sucrés"%}
						<div class="dessert">
							<h3 class="text mt-2">{{ plat.type}}</h3>
							<h4>{{ plat.label }}</h4>
							<p class="text-center">{{ plat.comment | nl2br }}</p>
						</div>
					{% endif %}
					{% if plat.type == "Boissons"%}
						<div class="boisson">
							{% if loop.index == "4" %}
								<h3 class="text mt-2"> {{plat.type  }}</h3>
							{% endif %}
							<h4>{{ plat.label }}</h4>
							<p class="text-center">{{ plat.comment | nl2br }}</p>
						</div>
					{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
			
{% endblock %}
