<!Doctype html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
{% apply inline_css %}
<style>
h1{
    color:blue;
}

thead tr{
    background-color:grey;
}
tr th{
    border-bottom:1px solid grey;
    padding:8px;
}
tr td{
    text-align:center;
}
</style>


<body>

    <h1>Lintrigue</h1>
    <h3>Bonjour Mr/Mme {{user.nom}} {{user.prenom}}</h3>
    <p>Votre commande à bien été validé. Vous pouvez recuperer vos plats dans nos locaux.<br>
    Vous nous remercions de votre confiance</p>
    <table class="table">
    <thead>
        <tr>
            <th>nom</th>
            <th>prix</th>
            <th>quantité</th>
        </tr>
    <thead>
    <tbody>
    {% for menu in cart %}
        <tr>
            <td><p>{{menu.name}}</p></td>
            <td><p>{{menu.price}} €</p></td>
            <td><p>{{menu.quantite}}</p></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <h2>Total déjà payé {{total}} €</h2>
</body>
{% endapply %}
</html>